/** 
 * Package Name: PIXEL PIZZA, WEBELEVATE 6.0 ASSIGNMENT 1.
 * Author: ROSS MCDERMOTT
 * Required Package Files: footer.temp.html, header.temp.html, menu.temp.html, style.css, evaulator.js, burger.class.php, extras.class.php, fries.class.php, pizza.class.php, menu.class.php, index.php, menuitems.include.php, order.php, order_action.php, background.jpg, pgbh.png, pplogo.svg.
*/


/** Create Applicable CSS styles for use in DOM. */

html {
    font-family: 'Work Sans', sans-serif;
    font-size: 16px;
    box-sizing: border-box;
}

body {
    background-color: #eee;
    background-image: url(img/pgbg.png);
    background-repeat: repeat;
    color: #222;
    margin: 0px;
    padding: 0px;
}

h1 {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
    margin: 1px;
    font-size: 1.4rem;
    color: #0eb416;
    text-align: left;
    border-left: #0eb416;
    border-left-style: solid;
    border-left-width: 5px;
}

h2 {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
    font-size: 1rem;
    font-weight: 900;
    background: #eee;
    color: #b82a2a;
    text-align: right;
    border-right: #999;
    border-right-style: solid;
    border-right-width: 5px;
}

h3 {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
    margin: 1px;
    font-size: 1rem;
    color: #000000;
    text-align: left;
    border-left: #0eb416;
    border-left-style: solid;
    border-left-width: 5px;
}

.header_wrap {
    width: 100%;
    height: 24vh;
    display: block;
    background-image: url("img/background.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    border-bottom: #0eb416;
    border-bottom-width: 5px;
    border-bottom-style: solid;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
}

.header_wrap img {
    display: block;
    width: auto;
    height: 22vh;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 1vh;
    padding-top: 1vh;
    text-align: center;
}

.footer {
    display: table;
    width: 100%;
    height: 20vh;
}

.footer_wrap {
    width: 100%;
    height: 20vh;
    display: table-cell;
    vertical-align: middle;
    font-size: 1rem;
    color: #999;
    text-align: center;
    background-color: #222;
    border-top: #0eb416;
    border-top-width: 5px;
    border-top-style: solid;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.core_wrap {
    width: 100%;
    min-height: 56vh;
}

.total_bar {
    display: block;
    z-index: 999;
    position: static;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: #222;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    padding: 1vh;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
}

.total_bar_replacer {
    display: none;
    z-index: 998;
    position: static;
    width: 100%;
    height: 5vh;
}

.total_bar_float {
    display: block;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 5vh;
    background-color: #222;
    color: #fff;
    font-size: 1.2rem;
    text-align: center;
    padding: 1vh;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
}

.total_bar_replacer_float {
    display: block;
    z-index: 998;
    position: static;
    width: 100%;
    height: 5vh;
}

input[type=text] {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    width: 60px;
    text-align: center;
    font-weight: 900;
    font-size: 1.2rem;
    color: #b82a2a;
    background-color: #FFF;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(177, 177, 177);
    border-radius: 5px;
}

input[type=submit],
[type=button] {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1rem;
    color: #b82a2a;
    background-color: #FFF;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(177, 177, 177);
    border-radius: 5px;
}

input[type=submit],
[type=button]:hover {
    font-family: 'Work Sans', Arial, Helvetica, sans-serif;
    font-weight: 900;
    font-size: 1rem;
    color: #0eb416;
    cursor: pointer;
    background-color: #FFF;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(177, 177, 177);
    border-radius: 5px;
}

input[type=textarea] {
    width: 100px;
    font-size: 1.4rem;
    font-weight: 900;
    color: #0eb416;
    background-color: transparent;
    border-style: solid;
    border-width: 0px;
    border-color: #fff;
}

label {
    text-decoration: none;
    color: #b82a2a;
}

label:hover {
    text-decoration: none;
    color: #0eb416;
    cursor: pointer;
}

.total {
    position: fixed;
    top: 0;
    left: 80vw;
    z-index: 999;
    width: 20vw;
    height: 23px;
}

.menu_title {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
    font-weight: 900;
    font-size: 1.6rem;
    color: #0eb416;
    text-align: left;
    border-left: #0eb416;
    border-left-style: solid;
    border-left-width: 5px;
}

.menu_selector_W {
    display: table;
    width: 100%;
}

.menu_selector_L {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    min-height: 100px;
    box-sizing: border-box;
    padding: 3px;
    background: #eee;
    font-size: 1.2rem;
    text-align: right;
    border-right: #999;
    border-right-style: solid;
    border-right-width: 5px;
}

.menu_selector_R {
    display: table-cell;
    vertical-align: middle;
    width: 50%;
    min-height: 100px;
    box-sizing: border-box;
    padding: 10px;
    font-weight: 900;
    font-size: 1.1rem;
    text-align: center;
    border-left: #0eb416;
    border-left-style: solid;
    border-left-width: 5px;
}

.menu_price {
    display: block;
    width: 100%;
    box-sizing: border-box;
    padding: 3px;
    font-size: 1.4rem;
    font-weight: 900;
    background: #eee;
    color: #0eb416;
    text-align: center;
    border-right: #999;
    border-right-style: solid;
    border-right-width: 5px;
}

.order {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    padding: 3px;
    background-color: rgb(247, 247, 247);
    border-color: rgb(247, 247, 247);
    border-style: solid;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
}

.area_title {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    font-size: 1.6rem;
    font-weight: 900;
    text-align: center;
    font-style: italic;
    padding: 3px;
    background-color: #0eb416;
    color: #FFF;
    border-color: rgb(247, 247, 247);
    border-style: solid;
    border-width: 3px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 1.5vh;
    margin-top: 2.5vh;
}

.total_price_complete {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border-width: 1px;
    font-size: 2.2rem;
    font-weight: 900;
    text-align: right;
    padding: 3px;
    background-color: #0eb416;
    color: #FFF;
    border-color: rgb(247, 247, 247);
    border-style: solid;
    border-width: 3px;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 2.5vh;
    margin-top: 2.5vh;
}

.unselected {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    border-width: 3px;
    background-color: rgb(247, 247, 247);
    border-color: rgb(247, 247, 247);
    border-style: solid;
    box-sizing: border-box;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
}

.selected {
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 10px 20px rgba(88, 155, 88, 0.19), 0 6px 6px rgba(88, 155, 88, 0.23);
    background-color: rgb(247, 247, 247);
    border-width: 3px;
    border-color: rgb(88, 155, 88);
    border-style: solid;
    box-sizing: border-box;
    margin-bottom: 1.5vh;
    margin-top: 1.5vh;
}